.succulent {
  border: 4px solid #645BA4;
  margin: 10%;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #A45B76;
  color: #5BA489;
  box-sizing: border-box;
}

.dave {
  border: 4px solid #A45B76;
  margin: 10%;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #5BA489;
  color: #645BA4;
  box-sizing: border-box;
}

.pothos {
  border: 4px solid #5BA489;
  margin: 10%;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #645BA4;
  color: #A45B76;
  box-sizing: border-box;
}

.column {
  float: left;
  width: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: all;
}

.centered-image {
  margin: auto;
  width: 70%;
  height: auto;
  display: block;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 300%;
}
